.post {
  background-color: #f0f0f0;

  .post-item {
    background-color: #ffffff;
    border-radius: 2px;
    height: auto;
    margin: 3rem 0 2rem 0rem;
    width: 90%;
    cursor: pointer;

    .header-image-base {
      overflow: hidden;
    }

    .header-image {
      height: 15rem;
    }

    .post-item-header {
      height: 3rem;
      font-weight: 500;
      padding-left: 10%;
      vertical-align: baseline;
      line-height: 3rem;
    }

    .post-item-content {
      position: relative;
      font-weight: 600;
      font-size: 1.4rem;
      height: 12rem;
      padding: 7% 10%;

      .post-time {
        position: absolute;
        bottom: 0.7rem;
        color: #d6d6d6;
        padding-top: 15%;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .content {
    padding: 2% 5%;
  }
  .category-dropdown {
    margin-top: 2.5%;
    height: 3.5rem;
    border: none;
    border-radius: 2px;
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
    font-weight: 600;
    width: 18rem;

    &:active {
      outline: none;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .heading {
    font-size: 2.5rem;
  }

  .posts {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .post-details {
    padding: 1% 20%;

    img {
      text-align: center;
      width: 100%;
      height: auto;
    }
    .error-message {
      font-size: 2rem;
      padding-bottom: 10%;
    }

    .post-details-title {
      font-size: 2.5rem;
      font-weight: 600;
      padding: 2rem;
      text-align: center;
    }
  }

  @media only screen and (max-width: 767px) {
    .posts {
      display: grid;
      grid-template-columns: 100%;
      margin: auto;
    }
    .post-item {
      margin: 5% auto;
      width: 100%;
    }
    .post-details {
      padding: 1% 10%;
    }
    .category-dropdown {
      width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    iframe {
      max-width: 100%;
      height: auto;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .posts {
      display: grid;
      grid-template-columns: 50% 50%;
      margin: auto;
    }
    .post-item {
      margin: 5% auto;
      width: 95%;
    }
    .post-details {
      padding: 1% 10%;
    }
    .category-dropdown {
      width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    iframe {
      max-width: 100%;
      height: auto;
    }
  }
}

.loader {
  text-align: center;
  background-color: rgba($color: #ffffff, $alpha: 1);
}
