.user-details {
  margin: 3% 0;
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  .user-avatar {
    width: 4rem;
    height: 4rem;
    clip-path: circle(30px at center);
    flex: 10%;
    text-align: left;
  }
  .user-name {
    text-align: left;
    font-weight: 600;
  }
  .publish-date{
      color: gray;
  }
  .right-content {
    flex: 90%;
  }
}
