.header {
  .logo {
    padding: 1.2rem 2rem;
    background-color: #ffffff;
    vertical-align: baseline;
  }

  .header-image-base {
    overflow: hidden;
    position: relative;
  }

  .header-image {
    width: 100%;
    transform: translate(0, -10%);
  }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 600;
    color: #ffffff;
    margin: auto;
  }

  @media screen and (min-width: 600px) {
    .header-image-base {
      height: 500px;
      overflow: hidden;
    }
    .header-text {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 600px) {
    .header-text {
      font-size: 1.2rem;
    }
  }
  @media screen and (min-width: 750px) {
    .header-image-base {
      height: 550px;
      overflow: hidden;
    }
    .header-text {
      font-size: 2.3rem;
    }
  }
}
