.home {
  background-color: #f0f0f0;

  .loader {
    text-align: center;
    background-color: rgba($color: #ffffff, $alpha: 1);
  }

  .react-paginate {
    text-align: center;
  }

  .react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }

  .react-paginate li {
    display: inline-block;
    padding: 1.25rem;
  }
  .react-paginate li:hover {
    cursor: pointer;
    background-color: #4b9eff;
    clip-path: circle(20px at center);
  }
  .react-paginate-selected {
    background-color: #4b9eff;
    clip-path: circle(20px at center);
  }
  .react-paginate-disabled {
    cursor: not-allowed;
  }
}
